In [12]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

data_cleaned =  'https://raw.githubusercontent.com/mikdadkanbar/HousePricesML/main/data_cleaned.csv'

data_ready = 'https://raw.githubusercontent.com/mikdadkanbar/HousePricesML/main/data_ready.csv'
#data_ready is after creating the dummy variables 
df=pd.read_csv(data_ready)
 
df.columns
df.iloc[:,0]

0          0
1          1
2          2
3          3
4          4
        ...
1455    1455
1456    1456
1457    1457
1458    1458
1459    1459
Name: Unnamed: 0, Length: 1460, dtype: int64

In [10]:
l= [ "MSSubClass"        ,   "OverallQual"    ,      "YearRemodAdd"        , "BsmtFinSF1"  ,        
  "GarageArea"     ,      "RoomsAndArea"   ,      "Neighborhood_NoRidge" ,"Neighborhood_NridgHt",
   "BsmtExposure_Mn" ,     "SalePrice"  ]  
[x in df.columns for x in l]
newdf= df.loc[:, l]
newdf.columns

Index(['MSSubClass', 'OverallQual', 'YearRemodAdd', 'BsmtFinSF1', 'GarageArea',
       'RoomsAndArea', 'Neighborhood_NoRidge', 'Neighborhood_NridgHt',
       'BsmtExposure_Mn', 'SalePrice'],
      dtype='object')

In [11]:
newdf.head()

,MSSubClass,OverallQual,YearRemodAdd,BsmtFinSF1,GarageArea,RoomsAndArea,Neighborhood_NoRidge,Neighborhood_NridgHt,BsmtExposure_Mn,SalePrice
0,60,7,2003,706,548,13680,0,0,0,208500
1,20,6,1976,978,460,7572,0,0,0,181500
2,60,7,2002,486,608,10716,0,0,1,223500
3,70,7,1970,216,642,12019,0,0,0,140000
4,60,8,2000,655,836,19782,1,0,0,250000

In [13]:

#Linear Regression : 

X_train, X_test, y_train, y_test = train_test_split(newdf.drop('SalePrice', axis=1), newdf['SalePrice'], test_size=0.2, random_state=42)


lr_model = LinearRegression()

# fit the model on the training data
lr_model.fit(X_train, y_train)

y_pred = lr_model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)

print(f'MSE :  {mse:.2f}')

MSE :  1366084338.65

In [14]:
y_pred2 = lr_model.predict(X_train)

mse2 = mean_squared_error(y_train, y_pred2)
mse2

1274910555.9161012